# **DAY2 ASSIGNMENT**

Make a list of 5 students and print the list.

In [3]:
students = ["Ali","Asim","Ahmed","Faisal","Mahmood"]
print(students)

['Ali', 'Asim', 'Ahmed', 'Faisal', 'Mahmood']

Add 2 more students in the list and print the updated list.

In [4]:
students.append("Ahad")
students.append("Asif")
print(students)

['Ali', 'Asim', 'Ahmed', 'Faisal', 'Mahmood', 'Ahad', 'Asif']

Remove 2 students from the list and print the updated list.

In [5]:
students.remove("Ahad")
students.remove("Asif")
print(students)

['Ali', 'Asim', 'Ahmed', 'Faisal', 'Mahmood']

In [6]:
students.sort()
print("After Sorting",students)

After Sorting ['Ahmed', 'Ali', 'Asim', 'Faisal', 'Mahmood']

 Reverse the list and print the updated list

In [7]:
students.reverse()
print("After Reverse",students)

After Reverse ['Mahmood', 'Faisal', 'Asim', 'Ali', 'Ahmed']

 Clear the list and print the updated list.

In [8]:
students.clear()
print("After Clear",students)

After Clear []

What is the difference between list and tuple?
Ans: The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists. When it comes to time efficiency, tuples have a slight advantage over lists especially when we consider lookup value. If you have data that shouldnâ€™t change, you should choose tuple data type over lists.

 Make a tuple that contain only one item and print the type of the tuple.

In [9]:
tup = (1,2,3,4,5)
print(type(tup))

<class 'tuple'>

Make a tuple of 5 items and print the tuple.

In [10]:
item = (1,2,3,4,5,5)
print(item)

(1, 2, 3, 4, 5, 5)

Find the index of a specific item in the tuple.

In [11]:
print(item.index(2))

1

 Find the count of a specific item in the tuple.

In [12]:
print(item.count(5))

2

Find the length of the tuple.

In [13]:
print(len(item))

6

Find the maximum and minimum item in the tuple.

In [14]:
print(max(item))
print(min(item))

5
1

Find the sum of all items in the tuple

In [15]:
print(sum(item))

20

 Sort the tuple in ascending order and print the updated tuple.

In [16]:
print("Sorted item", sorted(item))

Sorted item [1, 2, 3, 4, 5, 5]

Sort the tuple in descending order and print the updated tuple.

In [17]:
print("Sorted item", sorted(item,reverse=True))

Sorted item [5, 5, 4, 3, 2, 1]

Clear the tuple and print the updated tuple.
In Python, tuples are immutable, meaning that once a tuple is created, its contents cannot be changed directly. Therefore, you cannot "clear" a tuple in the same way you can clear a list.

Delete the tuple and print the tuple.

In [19]:
del item
print("After deleting", item)

NameError: name 'item' is not defined

Concatenate two tuples and print the updated tuple

In [20]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t1+=t2
print("After concatination: ", t1)

After concatination:  (1, 2, 3, 4, 5, 6, 7, 8)

 Repeat the tuple 3 times and print the updated tuple.

In [21]:
t2 = t2*3
print("After repeating 3 times: "  ,t2)

After repeating 3 times:  (5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)